/* body */
body{
  font-family: 'Times New Roman', Times, serif;
  font-size:110%;
  background-color:azure;
}
/* header */
header {
  text-align: center;
  background-color:slategray;
  margin: 10px;
  border-radius: 10px;
}

#heading{
  font-family: 'Times New Roman', Times, serif;
  background-color: slategray;
  color: #002233;
}

#headshot{
  width: 20%;
  height: 30%;
  border: #002233 solid 10px;
  border-radius: 50%;

}

#sidebar{
  width: 20%;
  background-color:slategray;
  color:#002233;
padding: 10px;

}

/* footer */
footer {
  background-color:slategray;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}
/* Navigation Menu */
nav{
  background-color:slategray;
  border-color: black;
  margin: 10px;
  border-radius: 10px;
}
/* main */
main{
  background-color:slategray;
  border-color: black ;
  margin: 10px;
  border-radius: 10px;
}
/* article */
article{
  background-color:slategray;
  border-color: black;
  margin: 10px;
  border-radius: 10px;
}
/* Div */
div{
  background-color:slategray;
  border-color: black;
  margin: 10px;
  border-radius: 10px;
}
/* Icons */
.icons{
  width: 3rem;
  height: auto;
align-items: center;
margin: 2%;
border-radius: 10px;
}
/* Section */
section{

  background-color:slategray;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}
