body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 130%;
  background-color:thistle;
  border: black;
}

header{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #3D3D3D;
  border-radius:10px ;
}

#headshot{
  width: 200px;
  height: 200px;
  margin: 30px;
  border: thistle solid 10px;
  padding: 5px;
}

#sidebar{
  width: 20%;
  border-radius: 5px;
  padding: 1rem;
  background-color: #3D3D3D;
  color: white;
  margin: 1px;
}

.main{
  display: flex;
  margin-left: 1%;
  flex: 1;
}

.icons{
  width: 3rem;
  height: auto;
  margin: 5%;
  align-content: center;
}

#footer{
background-color: #3D3D3D;
text-align: center;
color: white;
border-radius: 10px;
}

article{
  margin-left: 2%;
  border: black;
  text-size-adjust: 70%;
}

.navigation menu{
  color: white;
  margin: 1rem;
  border-radius: 10px;
}

#skills{
  text-align: 50px;
}

#heading{
  color: white;
}
