body{
  font-family: sans-serif;
  font-size: 110%;
  background-color: #8FEBD5;
}

header{
  font-family: sans-serif;
  background-color: #2B2741;
  color: #2B2741 ;
  border: #2B2741 ;
}

#heading{
  font-family: sans-serif;
  background-color: #438797;
  color: wheat;
  align-content: center;
  text-align: center;
  border-radius: 100%;
}

#headshot{
  width: 200px;
  height: 200px;
  border: #E7F7F4 solid 10px;
  border-radius: 50% solid 10px;
  
}

#sidebar{
  width: 20%;
  border-radius: 5px;
  padding: 1rem;
  background-color: #2B2741;
  color: white;
  margin: 1px;
  text-align: left;
}

.main{
  display: flex;
  margin-left: 1%;
  flex: 1;
}

.icons{
  width: 3rem;
  height: auto;
  margin: 5%;
  align-content: center;
}

#footer{
background-color: #2B2741;
text-align: center;
color: white;
border-radius: 10px;
}

article{
  margin-left: 2%;
  color: black;
  text-align: left;

}

.navigation menu{
  color: white;
  margin: 1rem;
  border-radius: 10px;
}

#heading{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #2B2741;
  border-radius:10px ;
  margin: 1rem;
}

#skills{
margin-left: 2%;
color: black;
text-align: left;

}