body{
    text-align: center;
}

.content{
    display: inline-block;
    width: 20%;
    height: 150px;
    background-color: salmon;
    margin: 5px;
}

@media screen and (max-width: 780px) {
    /* If the browser window is 780px or smaller*/
}
.content{
    display: inline-block;
    width: 45%;
    height: 150px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
}

#footer{
    width: 75%;
    background-color: #807166;
    text-align: center;
    color: black;
    border-radius: 10px;
}

.icons{
    width: 3rem;
  height: auto;
  margin: 5%;
  align-content: center;
}

header{
    font-family: sans-serif;
    background-color: hsl(25, 11%, 45%);
    color: white;
    border: #2B2741 ;
  }

  #headshot{
    width: 200px;
    height: 200px;
    border: #BAA495 solid 10px;
    border-radius: 100%;
    margin: 20px;
    
  }

  body {
    background: white url(https://i.pinimg.com/736x/ff/90/27/ff902722cb6bf821d33aae2f840da78c.jpg)
}